#content {
	width: 25%;
	margin: 0.5%;
	padding: 0px;
	transition: transform .5s;
}

#content:hover {
	transform: scale(1.2);
	border-radius: 10%;
}
p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
}

#profileTable {
	margin-left: 1.66%;
	margin-right: 1.66%;
	/*border: 1px dashed black;*/
	width: 96.5%;
}

#followButton {
	float: right;
	font-family: Raleway;
	color: white;
	text-align: center;
	background-color: #0099ff;
	padding: 10px 32px;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 5px;
	border: 1px solid black;
}

#followButton:hover {
	background-color: #007acc;
}

#followButton:focus {
	background-color: limegreen;
}

#profile {
	width: 70px;
	height: 70px;
	clip-path: circle(50%);
	float: left;
}

#profileStats p {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

#name {
	text-align: center;
	float: right;
}

hr {
	text-align: center;
	width: 96.5%;
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
}

div {
	margin-top: auto;
	padding-bottom: auto;
	width: 250px;
	text-align: center;
}

a {
	color: black;
	text-decoration: solid;
}